<%- include('../partials/header.ejs') %>
<div class="row">
    <div class="col">
        <form action="/filter_weekly_summary" method="POST">
            <div class="form-group">
              <label for="week"> Week</label>
              <input type="week" name = "week" class="form-control" id="week" placeholder="week">
            </div>
            <input type="submit" value="Submit Week!">
          </form>
        
          <% if (week && year) { %> 
          <div class="col">
            <% if (data.weekly_summary.length === 0) {%>
                <p class="alert alert-info">No data for this week exists</p>
            <% }  else{ %>  
            <h1>Weekly Report For week <%= week %> of year <%= year %>  </h1>
            
            <ul class="list-group">
                <% data.weekly_summary.forEach((w_summary) => { %>
                    <li class="list-group-item"><%= w_summary.activity_type %>: <%= (w_summary.round)%></li>
                <% }); %>
            </ul>
            <% } %> 

        </div>
        <% } else {%>
            <p class="alert alert-info">Please Select week </p>
        <% } %> 
            
    </div>

    
</div>


<%- include('../partials/footer.ejs') %>